*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --black: #000;
    --lightOrange: #E6BBAD;
    --red: crimson;
    --purple: purple;
    --plum: plum;
    --lightBlue: #add8e6;
    --lightRed: lightsalmon;
    --blue:blue;
    --green:green;
    --transpWhite: #ffffff68;
}

html{
    font-size: 62.5%;
    font-family: Helvetica,Arial,sans-serif;
}

p{
    text-align: center;
}

h4{
    margin-bottom: 5px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

section{
    background: linear-gradient(to bottom, var(--white), var(--lightBlue));
    border-radius: 15px 15px 0 0;
    border-left: 1px groove var(--black);
    border-right: 1px groove var(--black);
    border-top: 1px groove var(--black);
    min-height: 380px;
    min-width: 350px;
    max-width: 350px;
    overflow: hidden;

}

input[type="button"]{
    margin: 10px;
    border:none;
    padding: 8px;
    background-color: var(--purple);
    color: var(--white);
    border-radius: 5px;
}

input[type="button"]:hover{
    background-color: var(--plum);
}

input[type="text"]{
    border-radius: 5px;
    border:1px solid var(--black);
    padding: 1px;
    width: 230px;
    height: 30px;
    border-radius: 8px;
    margin-top: 15px;

}

article{
    padding: 0 10px;
    text-align: center;
    position: relative;
}

article img{
    position: absolute;
    top:-100px;
    z-index: 0;
    left: 48px;
    background: linear-gradient(to bottom, var(--white), var(--lightBlue));
    border-radius: 50%;
    opacity: 75%;
    padding: 75px;
}

article div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

section article:last-child{
    background-color: var(--transpWhite);
    opacity: 90%;
    border-radius: 5px;
    margin: 0 35px;
    padding: 5px;
}

h1{
    margin-top: 10px;
    font-size: clamp(1.8rem,1.8vw,2.5rem);
}

form{
    min-height: 65px;
    min-width: 350px;
    max-width: 350px;
    text-align: center;
    background: linear-gradient(to top, var(--white),var(--lightOrange));
    border-radius: 0 0 15px 15px;
    border-left: 1px groove var(--black);
    border-right: 1px groove var(--black);
    border-bottom: 1px groove var(--black);
    padding: 0 10px 0 13px;
}

label{
    display: block;
    margin: 18px 0 10px 0;
    font-size: clamp(1rem,1.2vw,2rem);
    text-align: center;
    z-index: 1;
    position: relative;
}

#lastUpdate{
    margin: 10px 0;
    color: var(--lightRed);
    text-shadow: -1px 0 var(--black), 0 1px var(--black), 1px 0 var(--black), 0 -1px var(--black);
    font-size: clamp(1rem,0.8vw,1rem);
}

#locationTime{
    font-size: clamp(1rem,0.8vw,1rem);
}

span{
    color: var(--red);
}

#bluespan{
    color: var(--blue);
}

#sky{
    margin-bottom: 5px;
    font-size: clamp(1rem,1.2vw,2rem);
    color: var(--green);
}

